.logoContainer {
  padding-right: 50%;
}

.logoIcon {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    padding-left: 16px;
    vertical-align: middle;
  }
  
  .logoText {
    font-size: 32px;
    color: #d4d3e6;
  }