.sidebarMin {
  width: 85px;
}

.sidebarMax {
  width: 250px;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 20px;
  white-space: nowrap;
}

.navbarItems {
  transition: 0.5s;
  padding-right: 50%;
}

.sidebar a:hover {
  color: white;
}

.sidebarIcon,
.iconText {
  vertical-align: middle;
}

.sidebarIcon {
  margin: 20px 8px 20px 32px;
  margin-right: 35px;
}
.sidebar a {
  text-decoration: none;
  width: 100%;
  font-size: 25px;
  display: block;
  color: #b5b5bc;
}

nav a {
  color: #fff;
  transition: color 0.5s, transform 0.5s;
  padding-bottom: 20px;
  position: relative;
}
