body {
  font-size: 24px;
  color: #050540;
  background-color: #deddee;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 85px;
  margin-top: 50px;
  transition: 0.4s;
  padding: 16px;
}

.mainMin {
  margin-left: 270px;
}

.mainMax {
  margin-left: 85px;
}

